# Dependencias necesarias para ejecutar el proyecto

# Para la interfaz gráfica de usuario
PySide6

# Para la conexión con la base de datos SQL Server
pyodbc

# Para exportar reportes a PDF
reportlab

# Comando en terminal para instalar todo:
# pip install -r requirements.txt